*{
  margin: 0;
  border: 0;
}
header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

input[type=text]{
  border:  1px solid black;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
}

body {
  color: rgb(0, 0, 0);
}
section{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
h3{
  display: flex;
  align-items: baseline;
  gap: 10px;
  margin-top: 0;
  margin-bottom: 15px;
}

.p{
  margin-bottom: 0;
  font-weight: lighter;
  color: gray;
}
.type{
  margin-top: 20px;
}

.menus{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.container-menu{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(45, 45, 209);
}

.circle-invert{
  transform: scaleX(-1);
  
}

.but{
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: color-burn color-dodge;
  margin-top: 30px;
  margin-left: 80%;
  width: 80px;
}

.pic{
  -webkit-box-shadow: 5px 5px 37px 17px #000000; 
  box-shadow: 5px 5px 37px 17px #000000;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .but{
    display: none;
  }
  ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 25px;
    cursor: pointer;
    list-style-type: circle;
    font-size: 40px;
    
  }
  li:hover{
    list-style-type: disc;
    font-size:40px;
    line-height:40px;
  }
}